<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slj.pg.dao.mapper.PayLogMapper">
  <resultMap id="BaseResultMap" type="com.slj.pg.bean.PayLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="party_member_id" jdbcType="INTEGER" property="partyMemberId" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="pay_year" jdbcType="INTEGER" property="payYear" />
    <result column="pay_quarter" jdbcType="TINYINT" property="payQuarter" />
    <result column="pay_type" jdbcType="TINYINT" property="payType" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>

  <sql id="Base_Column_List">
    id, party_member_id, org_id, pay_year, pay_quarter, pay_type, money, gmt_create, 
    gmt_modified, status
  </sql>

  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_pg_pay_log
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_pg_pay_log
    <where>
      <if test="partyMemberId != null">
        AND party_member_id = #{partyMemberId,jdbcType=INTEGER}
      </if>
      <if test="orgId != null">
        AND org_id = #{orgId,jdbcType=INTEGER}
      </if>
      <if test="payYear != null">
        AND pay_year = #{payYear,jdbcType=INTEGER}
      </if>
      <if test="payQuarter != null">
        AND pay_quarter = #{payQuarter,jdbcType=TINYINT}
      </if>
      <if test="payType != null">
        AND pay_type = #{payType,jdbcType=TINYINT}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=TINYINT}
      </if>
    </where>
    ORDER BY gmt_modified DESC
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from t_pg_pay_log
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.slj.pg.bean.PayLog"
          useGeneratedKeys="true" keyProperty="id">
    insert into t_pg_pay_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="partyMemberId != null">
        party_member_id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="payYear != null">
        pay_year,
      </if>
      <if test="payQuarter != null">
        pay_quarter,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="money != null">
        money,
      </if>
        gmt_create,gmt_modified,
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="partyMemberId != null">
        #{partyMemberId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="payYear != null">
        #{payYear,jdbcType=INTEGER},
      </if>
      <if test="payQuarter != null">
        #{payQuarter,jdbcType=TINYINT},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=TINYINT},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
        now(),now(),
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.slj.pg.bean.PayLog">
    update t_pg_pay_log
    <set>
      <if test="partyMemberId != null">
        party_member_id = #{partyMemberId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="payYear != null">
        pay_year = #{payYear,jdbcType=INTEGER},
      </if>
      <if test="payQuarter != null">
        pay_quarter = #{payQuarter,jdbcType=TINYINT},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=TINYINT},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
        gmt_modified = now(),
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>