<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slj.pg.dao.mapper.VoluntaryActivityMapper">
  <resultMap id="BaseResultMap" type="com.slj.pg.bean.VoluntaryActivity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="volunteer_id" jdbcType="INTEGER" property="volunteerId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="voluntary_activity_type" jdbcType="TINYINT" property="voluntaryActivityType" />
    <result column="gmt_start" jdbcType="TIMESTAMP" property="gmtStart" />
    <result column="gmt_end" jdbcType="TIMESTAMP" property="gmtEnd" />
    <result column="duration" jdbcType="DOUBLE" property="duration" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>

  <sql id="Base_Column_List">
    id, volunteer_id, name, org_name, voluntary_activity_type, gmt_start, gmt_end, duration, gmt_create,
    gmt_modified, status
  </sql>

  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_pg_voluntary_activity
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_pg_voluntary_activity
    <where>
      <if test="volunteerId != null">
        AND volunteer_id = #{volunteerId,jdbcType=INTEGER}
      </if>
      <if test="voluntaryActivityType != null">
        AND voluntary_activity_type = #{voluntaryActivityType,jdbcType=TINYINT}
      </if>
      <if test="name != null">
        AND name LIKE concat('%',#{name,jdbcType=VARCHAR},'%')
      </if>
      <if test="orgName != null">
        AND org_name LIKE concat('%',#{orgName,jdbcType=VARCHAR},'%')
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=TINYINT}
      </if>
    </where>
    ORDER BY gmt_modified DESC
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from t_pg_voluntary_activity
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.slj.pg.bean.VoluntaryActivity"
          useGeneratedKeys="true" keyProperty="id">
    insert into t_pg_voluntary_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="volunteerId != null">
        volunteer_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="voluntaryActivityType != null">
        voluntary_activity_type,
      </if>
      <if test="gmtStart != null">
        gmt_start,
      </if>
      <if test="gmtEnd != null">
        gmt_end,
      </if>
      <if test="duration != null">
        duration,
      </if>
        gmt_create,
        gmt_modified,
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="volunteerId != null">
        #{volunteerId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="voluntaryActivityType != null">
        #{voluntaryActivityType,jdbcType=TINYINT},
      </if>
      <if test="gmtStart != null">
        #{gmtStart,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtEnd != null">
        #{gmtEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=DOUBLE},
      </if>
        now(),
        now(),
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.slj.pg.bean.VoluntaryActivity">
    update t_pg_voluntary_activity
    <set>
      <if test="volunteerId != null">
        volunteer_id = #{volunteerId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="voluntaryActivityType != null">
        voluntary_activity_type = #{voluntaryActivityType,jdbcType=TINYINT},
      </if>
      <if test="gmtStart != null">
        gmt_start = #{gmtStart,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtEnd != null">
        gmt_end = #{gmtEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=DOUBLE},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
        gmt_modified = now(),
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>